.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { 
	display: inline-block; 
}
* html .clearfix { 
	height: 1%; 
}
.clearfix { 
	display: block; 
}
.clear {
	clear: both;
	height: 1px;
	font-size: 1px;
}
.display-none, .ng-cloak {
	display:none;
}
.well, .page-header {
	border: 0;
}
.btn-lg-double {
	min-width: 280px;
}
.table .td-first {
	border-top: 0;
}
#seal-mcafee-terms {
	font-size: 13px
}
#side-details-panel {
	height:450px;
}
.well-closer {
	margin-top: -20px;
}
.rekey-textarea {
	width:300px;
}
.left-margin {
	margin-left: 5px;
}
.no-top-margin {
	margin-top: 0;
}
.bullet-line {
	padding-left: 19px;
}
.bullet-line > p {
	position:relative;
	padding-bottom: 2em;
}
.bullet-line > p:before {
	content: '';
	position: absolute;
	left: -14px;
	border-left: 1px solid #cccccc;
	height: 100%;
	width: 1px;
}
.bullet-line > p:first-child:before {
	top: 4px;
}
.bullet-line > p:last-child:before {
	height: 4px;
}
.bullet-line > p:after {
	content: ' ';
	width: 1px;
	height: 1px;
	border-radius: 10px;
	border: 6px solid #cccccc;
	position: absolute;
	left: -19px;
	top: 4px;
}
.section-title-text {
	padding-bottom:8px;
	font-size: 16px;
}
.section-title-explanation {
	font-style: italic;
}
.section-body {
	padding:20px;
}
.section-body-header {
	font-size: 18px;
}
.page-description {
	padding-bottom: 20px;
}
.section {
	padding: 10px;
	border-top-style:solid;
	border-width:thin;
	border-color:#f0f0f0;
}
.section.active {
	background: #f5f5f5;
	display: inline-block;
}
.alert .uxicon {
	margin-right: 7px;
}
.form-error {
	font-size: inherit;
}
span.has-error {
	border: 1px solid #f00000;
}
.small-text {
	font-size: 12px;
}
.red-text {
	color:red;
}
.bold {
	font-weight: bold;
}
.faded {
	color:#A4A4A4;
}
.italic {
	font-style: italic;
}
.large-icon {
	font-size: 150%;
}
.push-down {
	margin-top: 20px;
}
div.fieldset {
	background-color: #f5f5f5;
	padding: 20px;
}
.list-item {
	margin-bottom: 10px;
}
h4.inline-block {
	display: inline-block;
}
.left-margin {
	margin-left: 5px;
}
.no-top-margin {
	margin-top: 0;
}

#main-content h2 {
	font-family: Boing-Bold,'Arial Black',sans-serif;
	margin-bottom: 20px;
	margin-top: 0;
}
#install-cert {
	border-bottom-style:solid;
}
#footer {
	padding-bottom: 40px !important;
}

.breadcrumb {
	list-style-type: none;
}

/* NEW FOR PKI-14948 */
.breadcrumb li:first-child a {
	margin-left: -3rem;
}
.breadcrumb li {
	display: inline-block;
	margin-bottom: 0rem !important;
}
h1.headline-brand {
	font-size: 2.2807rem;
	line-height: 44px;
}		
@media (min-width: 1720px) {
	h1.headline-brand {
	    font-size: 2.56578rem;
	    line-height: 52px;
	}
}
/* NEW FOR PKI-14948 */

@media print {
	.container {
		width: 100%;
	}
	.hidden-print {
		display: none;
	}
	.hide-content-when-printed .can-hidden-print {
		display: none;
	}
	/* separate because when a browser meets a selector it doesn't understand it ignores the entire line, http://css-tricks.com/snippets/css/style-placeholder-text/ */
	::-webkit-input-placeholder { /* WebKit browsers */
		opacity: 0.2;
		color: white;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		opacity: 0.2;
		color: white;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		opacity: 0.2;
		color: white;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		opacity: 0.2;
		color: white;
	}
}

img.ux-svg-icon {
	height: 1em;
	width: 1em;
}

img.ux-svg-large-icon {
	height: 1.5em;
	width: 1.5em;
}

img.ux-svg-alert-icon {
	float: left;
	height: 1.5em;
	margin-right: 16px;
	vertical-align: middle;
	width: 1.5em;
}

.ux-alert .ux-alert-content .ux-alert-message{
	display: flex;
}

.ux-sibling-set{
	display: block;
}

img.ux-svg-icon-text-primary {
	filter: invert(48%) sepia(39%) saturate(5119%) hue-rotate(151deg) brightness(94%) contrast(102%); /* #00a4a6 */
}

img.ux-svg-icon-faded {
	filter: invert(79%) sepia(0%) saturate(457%) hue-rotate(151deg) brightness(85%) contrast(84%); /* #A4A4A4 */
}

img.ux-svg-icon-success {
	filter: invert(61%) sepia(78%) saturate(4168%) hue-rotate(50deg) brightness(94%) contrast(94%); /* #679B08 */
}

.app-alert {
	margin-bottom: 16px;
}

.filter-select-padding {
    padding: 3px;
}

.filter-text-padding {
    padding: 2px;
}

#wsc-info div.ux-alert {
	margin-bottom: 0px;
	margin-top: 16px;
}
